#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# main packaging script based on dh7 syntax
%:
	dh $@ --with=quilt

override_dh_auto_configure:

override_dh_auto_build: dh_auto_build/westmere dh_auto_build/sandybridge dh_auto_build/ivybridge

.PHONY: dh_auto_build/westmere
dh_auto_build/westmere:
	make install \
		T=x86_64-native-linuxapp-gcc\
		CONFIG_RTE_LIBRTE_KNI=n \
		CONFIG_RTE_EAL_IGB_UIO=n \
		CONFIG_RTE_APP_TEST=n \
		CONFIG_RTE_MACHINE="wsm" \
		O=$(CURDIR)/debian/dpdk-westmere/usr/lib/dpdk-westmere/

.PHONY: dh_auto_build/sandybridge
dh_auto_build/sandybridge:
	make install \
		T=x86_64-native-linuxapp-gcc\
		CONFIG_RTE_LIBRTE_KNI=n \
		CONFIG_RTE_EAL_IGB_UIO=n \
		CONFIG_RTE_APP_TEST=n \
		CONFIG_RTE_MACHINE="snb" \
		O=$(CURDIR)/debian/dpdk-sandybridge/usr/lib/dpdk-sandybridge/

.PHONY: dh_auto_build/ivybridge
dh_auto_build/ivybridge:
	make install \
		T=x86_64-native-linuxapp-gcc\
		CONFIG_RTE_LIBRTE_KNI=n \
		CONFIG_RTE_EAL_IGB_UIO=n \
		CONFIG_RTE_APP_TEST=n \
		CONFIG_RTE_MACHINE="ivb" \
		O=$(CURDIR)/debian/dpdk-ivybridge/usr/lib/dpdk-ivybridge/

.PHONY: dh_auto_install/kernel-modules
dh_auto_install/kernel-modules:
	make config lib/librte_eal/common_sub lib/librte_eal/linuxapp_sub lib/librte_eal/linuxapp/igb_uio_sub\
		RTE_KERNELDIR=/usr/src/linux-headers-4.0.0-1-amd64 \
		T=x86_64-native-linuxapp-gcc\
		O=$(CURDIR)/debian/dpdk-kernel-modules/usr/lib/dpdk-kernel-modules/

override_dh_auto_test:
override_dh_auto_install:
