#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
# DH_VERBOSE=1
QUILT_REFRESH_ARGS=-p ab --no-timestamps --no-index

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1

include /usr/share/dpkg/default.mk

# main packaging script based on dh7 syntax
%:
	dh $@ --with=quilt,dkms --parallel

override_dh_auto_configure:

override_dh_auto_build: dh_auto_build/westmere dh_auto_build/sandybridge dh_auto_build/ivybridge

.PHONY: dh_auto_build/westmere
dh_auto_build/westmere:
	make install \
		T=x86_64-native-linuxapp-gcc \
		CONFIG_RTE_BUILD_COMBINE_LIBS=y \
		CONFIG_RTE_BUILD_SHARED_LIB=y \
		CONFIG_RTE_LIBRTE_KNI=n \
		CONFIG_RTE_EAL_IGB_UIO=n \
		CONFIG_RTE_APP_TEST=n \
		CONFIG_RTE_MACHINE="wsm" \
		DESTDIR=$(CURDIR)/debian/dpdk-westmere/usr/lib/dpdk-westmere/

.PHONY: dh_auto_build/sandybridge
dh_auto_build/sandybridge:
	make install \
		T=x86_64-native-linuxapp-gcc\
		CONFIG_RTE_BUILD_COMBINE_LIBS=y \
		CONFIG_RTE_BUILD_SHARED_LIB=y \
		CONFIG_RTE_LIBRTE_KNI=n \
		CONFIG_RTE_EAL_IGB_UIO=n \
		CONFIG_RTE_APP_TEST=n \
		CONFIG_RTE_MACHINE="snb" \
		DESTDIR=$(CURDIR)/debian/dpdk-sandybridge/usr/lib/dpdk-sandybridge/

.PHONY: dh_auto_build/ivybridge
dh_auto_build/ivybridge:
	make install \
		T=x86_64-native-linuxapp-gcc\
		CONFIG_RTE_BUILD_COMBINE_LIBS=y \
		CONFIG_RTE_BUILD_SHARED_LIB=y \
		CONFIG_RTE_LIBRTE_KNI=n \
		CONFIG_RTE_EAL_IGB_UIO=n \
		CONFIG_RTE_APP_TEST=n \
		CONFIG_RTE_MACHINE="ivb" \
		DESTDIR=$(CURDIR)/debian/dpdk-ivybridge/usr/lib/dpdk-ivybridge/

.PHONY: dh_auto_install/kernel-modules
dh_auto_install/kernel-modules:
	dh_install GNUmakefile LICENSE.GPL LICENSE.LGPL MAINTAINERS Makefile app config doc examples lib mk pkg scripts tools usr/src/dpdk-kernel-modules-2.0.0/

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)


override_dh_auto_test:
override_dh_auto_clean:
	rm -rf $(CURDIR)/x86_64-native-linuxapp-gcc
	rm -rf $(CURDIR)/build

override_dh_auto_install:dh_auto_build/westmere dh_auto_build/sandybridge dh_auto_build/ivybridge dh_auto_install/kernel-modules
